@model Freelance.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
               
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

<div class="center">
    <h4>lub użyj</h4>
</div>

@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <div id="socialLoginList" class="center">
        @foreach (AuthenticationDescription p in loginProviders)
        {
            if (p.AuthenticationType.Equals("Facebook", StringComparison.InvariantCultureIgnoreCase))
            {
                <button type="submit" class="btn btn-lg round facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">
                    <i class="fa fa-facebook-f"></i></button>
            }
            else if (p.AuthenticationType.Equals("Google", StringComparison.InvariantCultureIgnoreCase))
            {
                <button type="submit" class="btn btn-lg round google" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">
                    <i class="fa fa-google"></i></button>
            }
        }
    </div>
}
