@using Freelance.Core.Models
@using Freelance.Infrastructure.ViewModels
@model Freelance.Infrastructure.ViewModels.AddAnnouncementViewModel

<div class="row blue-strip">
    <div class="col-md-8 col-md-offset-2">
        <section id="header">
            <h2><b>Dodaj ogłoszenie</b></h2>
        </section>
    </div>
</div>

<div class="spacer"></div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 white-background menu">
        <div class="col-sm-12">
            <div class="spacer"></div>
            @using (Html.BeginForm("Add", "Announcements", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                <div id="add-announcement-1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Announcement.Title, htmlAttributes: new {@class = "control-label"})
                        @Html.EditorFor(model => model.Announcement.Title, new {htmlAttributes = new {@class = "form-control round disable-next-button"}})
                        @Html.ValidationMessageFor(model => model.Announcement.Title, "", new {@class = "text-danger"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Announcement.Description, htmlAttributes: new {@class = "control-label"})
                        <div>
                            @Html.TextAreaFor(model => model.Announcement.Description, new {@class = "form-control disable-next-button", rows = 14, cols = 90})
                            @Html.ValidationMessageFor(model => model.Announcement.Description, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" id="add-announcements-next" class="btn btn-primary pull-right">Do przodu</button>
                        </div>
                    </div>

                    <div class="spacer"></div>
                </div>

                <div id="add-announcement-2" class="hidden">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Announcement.ExpectedHourlyWage, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Announcement.ExpectedHourlyWage, new { htmlAttributes = new { @class = "form-control input-short" } })
                        @Html.ValidationMessageFor(model => model.Announcement.ExpectedHourlyWage, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Announcement.Localization, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Announcement.Localization, new { htmlAttributes = new { @class = "form-control input-short" } })
                        @Html.ValidationMessageFor(model => model.Announcement.Localization, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Announcement.ServiceTypeId, "ServiceTypeId", htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.Announcement.ServiceTypeId, Model.ServiceTypes)
                            @Html.ValidationMessageFor(model => model.Announcement.ServiceTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Announcement.Availability, "Availability", htmlAttributes: new { @class = "control-label" })
                        <div>
                            @(Html.CheckBoxListForEnum<AddAnnouncementViewModel, Availability>(model => model.Announcement.Availability, "Availability"))
                            @Html.ValidationMessageFor(model => model.Announcement.Availability, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-default" id="add-announcement-photos">Wybierz zdjęcia</button>
                            <input class="hide" name="Photos" type="file" multiple id="Photos" accept="image/*" data-max-amount="5"/>

                            <div class="spacer"></div>

                            <div class="row">
                                <div class="col-xs-12 preview-area">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="spacer"></div>

                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" id="add-announcements-previous" class="btn btn-primary pull-left">Wróć</button>
                        </div>
                        <div class="col-xs-6">
                            <input type="submit" value="Opublikuj" class="btn btn-success pull-right" />
                        </div>
                    </div>
                    
                    <div class="spacer"></div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
