@model Freelance.Infrastructure.ViewModels.AnnouncementOfferViewModel


@using (Html.BeginForm("SubmitOffer", "Announcements")) 
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-md-12">
            <br />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.AnnouncementId)

            <div class="form-group">
                @Html.LabelFor(model => model.ProposedRate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ProposedRate, new { htmlAttributes = new { @class = "form-control input-short"} })
                @Html.ValidationMessageFor(model => model.ProposedRate, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = 5, cols = 80 })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })</div>
            </div>

            <div class="form-group">
                @Html.ActionLink("Wróć", "Index", new {page = 1}, new { @class = "btn btn-primary round" })
                <input type="submit" value="Zaoferuj" class="btn btn-success round"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
}
