@using Freelance.Core.Models
@model Freelance.Core.Models.Announcement

<div class="row blue-strip">
    <div class="col-md-10 col-md-offset-1">
        <section id="header">
            <h2><b>@Model.Title</b></h2>
        </section>
    </div>
</div>

<div class="spacer"></div>
<div class="row">
    <div class="col-md-7 col-md-offset-1">
        <div class="col-sm-12 details">
            <div class="spacer"></div>

            @Model.Description
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-sm-12 details">
            <div class="spacer"></div>

            <img class="img-responsive" width="120" height="120" src="http://stjohntruck.com/wp-content/uploads/2018/01/person-placeholder.jpg"/>
            <p>@Model.Advertiser.UserName</p>
            <div class="rating">
                @if (Model.Advertiser.AmountOfReviews > 0)
                {
                    for (int i = 0; i < Model.Advertiser.Rating; i++)
                     {
                         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                     }
                    <span>(@Model.Advertiser.AmountOfReviews ocen)</span>
                }
                else
                {
                    <span>Brak ocen</span>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    @Html.Partial("OffersList", Model.Offers)
</div>

@Html.Action("AddOffer", new {announcementId = Model.AnnouncementId})
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnnouncementId }) |
    @Html.ActionLink("Back to List", "Index", new {page = 1})
</p>