@using Freelance.Infrastructure.ViewModels
@using Freelance.Infrastructure.ViewModels.Announcements
@using Microsoft.AspNet.Identity
@model Freelance.Infrastructure.ViewModels.Announcements.AnnouncementViewModel

@{
    bool isAuthenticatedAndNotAdvertiser = Context.User.Identity.IsAuthenticated && !Context.User.Identity.GetUserId().Equals(Model.AdvertiserId);
    bool isAuthor = Context.User.Identity.IsAuthenticated && Context.User.Identity.GetUserId().Equals(Model.AdvertiserId);
    string currentUserId = Context.User.Identity.IsAuthenticated ? Context.User.Identity.GetUserId() : null;
}

<div class="row blue-strip">
    <div class="col-md-10 col-md-offset-1">
        <section id="header">
            <div class="col-sm-8">
                <h2><b>@Model.Title</b></h2>
            </div>
            <div class="col-sm-4 center">
                <h2><b>Stawka: @Model.ExpectedHourlyWage zł</b></h2>
            </div>
        </section>
    </div>
</div>

<div class="spacer"></div>
<div class="row">
    <div class="col-md-7 col-sm-12 col-md-offset-1">
        <div class="row">
            <div class="col-sm-12 white-background">
                <h3>Opis</h3>
                <p class="user-content">
                    @Model.Description
                </p>
                <div class="spacer"></div>

                @if (Model.Photos.Count > 0)
                {
                    <h4>Załączone zdjęcia</h4>
                    <div class="preview-area">
                        @foreach (var photo in Model.Photos)
                        {
                            <img id=@photo.PhotoId class="img-responsive preview"
                                 src="@String.Format("data:{0};base64,{1}", photo.ContentType, Convert.ToBase64String(photo.Content))"/>
                            <div class="modal fade" id=@("photo" + photo.PhotoId) tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <img class="img-responsive" src="@String.Format("data:{0};base64,{1}", photo.ContentType, Convert.ToBase64String(photo.Content))" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="spacer"></div>
                    </div>
                }
                <div class="spacer"></div>
                @if (Model.Offers.Any())
                {
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                Złożone oferty
                            </h4>
                            <div>
                                @Html.Partial("AnnouncementOffersList",
                                    new AnnouncementOffersListViewModel
                                    {
                                        Offers = Model.Offers, ShowAll = false, IsAuthor = isAuthor,
                                        CurrentUserId = currentUserId
                                    })
                            </div>
                        </div>
                    </div>
                }

                @if (isAuthenticatedAndNotAdvertiser && Model.Offers.All(o => o.OffererId != Context.User.Identity.GetUserId()))
                {
                    <br/>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                Dodaj ofertę
                            </h4>
                            <div>
                                @Html.Action("AddAnnouncementOffer", new {announcementId = Model.AnnouncementId})
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
        <div class="col-sm-12 details white-background">
            <div class="spacer"></div>
            <img class="img-responsive" width="120" height="120" 
                 src="@(Model.Advertiser.Photo != null ? String.Format("data:{0};base64,{1}", Model.Advertiser.Photo.ContentType, Convert.ToBase64String(Model.Advertiser.Photo.Content)) 
                            : "http://stjohntruck.com/wp-content/uploads/2018/01/person-placeholder.jpg")"/>
            <p>@Model.Advertiser.UserName</p>
            <div class="@(Model.Advertiser.ReceivedOpinions.Any() ? "rating pointer" : "rating")"
                 data-user="@Model.Advertiser.Email" data-user-id="@Model.AdvertiserId">
                @if (Model.Advertiser.ReceivedOpinionsCount > 0)
                {
                    int i = 1;
                    for (; i <= Model.Advertiser.ReceivedOpinionsAverage; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                    if (Model.Advertiser.ReceivedOpinionsAverage - i + 1 >= 0.25 && Model.Advertiser.ReceivedOpinionsAverage - i + 1 < 0.75)
                    {
                        <i class="fa fa-star-half"></i>
                    }
                    else if (Model.Advertiser.ReceivedOpinionsAverage - i + 1 >= 0.75)
                    {
                        <i class="fa fa-star"></i>
                    }
                    <span>(@Model.Advertiser.ReceivedOpinionsCount ocen)</span>
                }
                else
                {
                    <span>Brak ocen</span>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="opinionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">

                </h4>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
        </div>
    </div>
</div>