@model Freelance.Core.Models.Announcement

<div class="row blue-strip">
    <div class="col-md-10 col-md-offset-1">
        <section id="header">
            <div class="col-sm-8">
                <h2><b>@Model.Title</b></h2>
            </div>
            <div class="col-sm-4 center">
                <h2><b>Stawka: @Model.ExpectedHourlyWage zł</b></h2>
            </div>
        </section>
    </div>
</div>

<div class="spacer"></div>
<div class="row">
    <div class="col-md-7 col-md-offset-1">
        <div class="col-sm-12 details white-background">
            <div class="spacer"></div>

            <p class="user-content">
                @Model.Description
            </p>
            <div class="spacer"></div>
            
            @if (Model.Photos.Count > 0)
            {
                <p>Załączone zdjęcia</p>
                <div class="preview-area">
                    @foreach (var photo in Model.Photos)
                    {
                        <img id=@photo.PhotoId class="img-responsive preview" src="@String.Format("data:{0};base64,{1}", photo.ContentType, Convert.ToBase64String(photo.Content))"/>
                        <div id=@("photo"+photo.PhotoId) class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <div class="modal-body">
                                        <img class="img-responsive " src="@String.Format("data:{0};base64,{1}", photo.ContentType, Convert.ToBase64String(photo.Content))"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="spacer"></div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-sm-12 details white-background">
            <div class="spacer"></div>

            <img class="img-responsive" width="120" height="120" src="http://stjohntruck.com/wp-content/uploads/2018/01/person-placeholder.jpg"/>
            <p>@Model.Advertiser.UserName</p>
            <div class="rating">
                @if (Model.Advertiser.AmountOfReviews > 0)
                {
                    int i = 1;
                    for (; i <= Model.Advertiser.Rating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                    if (Model.Advertiser.Rating - i + 1 >= 0.25 && Model.Advertiser.Rating - i + 1 < 0.75)
                    {
                        <i class="fa fa-star-half"></i>
                    }
                    else if (Model.Advertiser.Rating - i + 1 >= 0.75)
                    {
                        <i class="fa fa-star"></i>
                    }
                    <span>(@Model.Advertiser.AmountOfReviews ocen)</span>
                }
                else
                {
                    <span>Brak ocen</span>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    @Html.Partial("OffersList", Model.Offers)
</div>

@Html.Action("AddOffer", new {announcementId = Model.AnnouncementId})
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnnouncementId }) |
    @Html.ActionLink("Back to List", "Index", new {page = 1})
</p>