@using Freelance.Infrastructure.Utils
@model Freelance.Infrastructure.ViewModels.AnnouncementsListViewModel

@{
    ViewBag.Title = "Index";
    var announcements = Model.Announcements;
    var pagingInfo = Model.PagingInfo;
    var sortOrder = Model.Filter.SortOrder;
}
<div class="row blue-strip">
    <div class="col-md-10 col-md-offset-1">
        <section id="header">
            <h2><b>Oferty Pracy</b></h2>
        </section>
    </div>
</div>
<div class="spacer"></div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-sm-4 col-md-3 hidden-xs">
                    <div class="col-sm-12 menu white-background">
                        @Html.Partial("AnnouncementsFilter", Model.Filter)
                    </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-sm-12 menu white-background">
                        <div class="spacer"></div>
                        <div class="row">
                            <div id="utilities" class="col-sm-12" align="center">
                                <a class="hidden-md hidden-lg hidden-sm pull-left" data-toggle="modal" data-target="#filtersModal">
                                    Filtry
                                </a>
                                <select id="sorting">
                                    <option value=@Constants.SortDateDescending selected=@(sortOrder == null || sortOrder.Equals(Constants.SortDateDescending))>
                                        Od najnowszego
                                    </option>
                                    <option value=@Constants.SortDateAscending selected=@Constants.SortDateAscending.Equals(sortOrder)>
                                        Od najstarszego
                                    </option>
                                    <option value=@Constants.SortWageDescending selected=@Constants.SortWageDescending.Equals(sortOrder)>
                                        Stawka: malejąco
                                    </option>
                                    <option value=@Constants.SortWageAscending selected=@Constants.SortWageAscending.Equals(sortOrder)>
                                        Stawka: rosnąco
                                    </option>
                                </select>
                                <span class="pull-right">
                                    @if (pagingInfo.CurrentPage > 1)
                                    {
                                        <a href="#" id="previous-page" data-page-number=@(pagingInfo.CurrentPage - 1)>
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                    }
                                    <input id="page-number" type="number" value=@pagingInfo.CurrentPage min="1" max=@pagingInfo.TotalPages data-url=@Url.Action("Index", "Announcements")/>
                                    <span>z @(pagingInfo.TotalPages == 0 ? 1 : pagingInfo.TotalPages)</span>
                                    @if (pagingInfo.CurrentPage < pagingInfo.TotalPages)
                                    {
                                        <a href="#" id="next-page" data-page-number=@(pagingInfo.CurrentPage + 1)>
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        @for (int i = 0; i < Model.Announcements.Count; i++)
                        {
                            <hr/>
                            <div class="row item" id=@("item" + (i + 1))>
                                <div class="spacer"></div>
                                <div class="col-md-9">
                                    <div>
                                        <h4>@Html.ActionLink(announcements[i].Title, "Details", new {id = announcements[i].AnnouncementId})</h4>
                                    </div>
                                    <div>
                                        <p>@announcements[i].Description.GetFirstCharacters(240)</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div>
                                        Oczekiwana stawka: @announcements[i].ExpectedHourlyWage zł
                                    </div>
                                    <div class="text-center">
                                        @Html.ActionLink("Zatrudnij", "Details", new {id = announcements[i].AnnouncementId},
                                            new {@style = "display: none;", @class = "btn btn-primary", @id = "hire-button"})
                                    </div>
                                </div>

                            </div>
                            if (i == announcements.Count - 1)
                            {
                                <hr/>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-fullscreen-xs-down" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Filtry</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("AnnouncementsFilter", Model.Filter)
            </div>
        </div>
    </div>
</div>