@using Freelance.Infrastructure.Utils
@model Freelance.Infrastructure.ViewModels.Jobs.JobsListViewModel

@{
    var jobs = Model.Jobs.ToArray();
    var pagingInfo = Model.PagingInfo;
    var sortOrder = Model.Filter.SortOrder;
}
<div class="row blue-strip">
    <div class="col-md-10 col-md-offset-1">
        <section id="header">
            <h2><b>Oferty pracy</b></h2>
        </section>
    </div>
</div>
<div class="spacer"></div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-sm-4 col-md-3 hidden-xs">
                <div class="col-sm-12 menu white-background">
                    @Html.Partial("JobsFilter", Model.Filter)
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-sm-12 menu white-background">
                        <div class="spacer"></div>
                        <div class="row">
                            <div id="utilities" class="col-sm-12" align="center">
                                <a class="hidden-md hidden-lg hidden-sm pull-left" data-toggle="modal" data-target="#filtersModal">
                                    Filtry
                                </a>
                                <select id="sorting">
                                    <option value=@Constants.SortDateDescending selected=@(sortOrder == null || sortOrder.Equals(Constants.SortDateDescending))>
                                        Od najnowszego
                                    </option>
                                    <option value=@Constants.SortDateAscending selected=@Constants.SortDateAscending.Equals(sortOrder)>
                                        Od najstarszego
                                    </option>
                                    <option value=@Constants.SortMinWageDescending selected=@Constants.SortMinWageDescending.Equals(sortOrder)>
                                        Stawka min.: malejąco
                                    </option>
                                    <option value=@Constants.SortMinWageAscending selected=@Constants.SortMinWageAscending.Equals(sortOrder)>
                                        Stawka min.: rosnąco
                                    </option>
                                    <option value=@Constants.SortMaxWageDescending selected=@Constants.SortMaxWageDescending.Equals(sortOrder)>
                                        Stawka max.: malejąco
                                    </option>
                                    <option value=@Constants.SortMaxWageAscending selected=@Constants.SortMaxWageAscending.Equals(sortOrder)>
                                        Stawka max.: rosnąco
                                    </option>
                                </select>
                                <span class="pull-right">
                                    @if (pagingInfo.CurrentPage > 1)
                                    {
                                        <a href="#" id="previous-page" data-page-number=@(pagingInfo.CurrentPage - 1)>
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                    }
                                    <input id="page-number" type="number" value=@pagingInfo.CurrentPage min="1" max=@pagingInfo.TotalPages data-url="/jobs/index/1/" />
                                    <span>z @(pagingInfo.TotalPages == 0 ? 1 : pagingInfo.TotalPages)</span>
                                    @if (pagingInfo.CurrentPage < pagingInfo.TotalPages)
                                    {
                                        <a href="#" id="next-page" data-page-number=@(pagingInfo.CurrentPage + 1)>
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        @for (int i = 0; i < jobs.Length; i++)
                        {
                            <hr />
                            <div class="row item" id=@("item" + (i + 1))>
                                <div class="spacer"></div>
                                <div class="col-md-9">
                                    <div>
                                        <h4>@Html.ActionLink(jobs[i].Title, "Details", new { id = jobs[i].JobId })</h4>
                                    </div>
                                    <div class="word-wrap">
                                        <p>@jobs[i].Description.GetFirstCharacters(240)</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div>
                                        Stawka: @jobs[i].MinimumWage - @jobs[i].MaximumWage zł
                                    </div>
                                    <div class="text-center">
                                        @Html.ActionLink("Zatrudnij", "Details", new { id = jobs[i].JobId },
                                            new { @style = "display: none;", @class = "btn btn-primary", @id = "hire-button" })
                                    </div>
                                </div>

                            </div>
                            if (i == jobs.Length - 1)
                            {
                                <hr />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-fullscreen-xs-down" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Filtry</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("JobsFilter", Model.Filter)
            </div>
        </div>
    </div>
</div>