@model IEnumerable<Freelance.Core.Models.AnnouncementOffer>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Announcement.AdvertiserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offerer.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Announcement.AdvertiserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offerer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedRate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnnouncementOfferId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnnouncementOfferId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnnouncementOfferId })
            @Html.ActionLink("Accept offer", "AcceptOffer", "Announcements", new { offerId=item.AnnouncementOfferId }, null)
            @Html.ActionLink("Decline offer", "DeclineOffer", "Announcements", new { id=item.AnnouncementOfferId }, null)
        </td>
    </tr>
}

</table>
